<div class="dimmer">

  <h1>Hello, and welcome to the Union Aerospace Corporation</h1>

  <p>As industry leaders in several fields, including biological
     and xenobiological research, bleeding-edge weapons <br> development
     and energy production, as well as being the first large-scale
     entity to establish permanent <br> facilities on both Mars and it’s
     moon Deimos, the UAC has been pivotal in shaping the course of
     mankind.
  </p>

  <p>Before we begin, please take the time to answer a few simple questions:</p>

  <div class="question-box">

    <h1>Question 4</h1>

    <p class="question">How likely would you be to recomment a UAC Indentured Career to your family and friends?</p>

    <div class="form-check">

    <%= radio_button_tag(:answer, "answer 1") %>
    <%= label_tag(:answer_one, "Likely") %>   <br>
    <%= radio_button_tag(:answer, "answer 2") %>
    <%= label_tag(:answer_two, "Very Likely") %>   <br>
    <%= radio_button_tag(:answer, "answer 3") %>
    <%= label_tag(:answer_three, "Guaranteed") %>   <br>
    <%= link_to "submit", products_path, class: "btn btn-secondary" %>

    </div>
  </div>
