<p id="notice"><%= notice %></p>

<div class="text-center">
	<%= image_tag @product.image %> <br>
	<%= @product.name %> <br>
	<%= @product.price %> <br>
	<%= @product.description %>

<%= render 'cart', cart: @cart_items %>

</div>

